<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Top Students</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Worker Name</th>
                            <th scope="col">Saved CO2</th>
                            <th scope="col">Reward (TOP 3)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i=0; i < students.length; i++) { %>
                            <tr>
                                <td>
                                    <%= students[i].name %>
                                </td>
                                <td>
                                    <%= students[i].rating %>
                                <td id="<%=i%>">
                                    <% if (i < 3) { %>
                                        <button class="btn btn-primary" onclick="reward(<%=i%>)">Reward</button>
                                    <% } %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function reward(i) {
                var btn = document.getElementById(i);
                var select = document.createElement("select");
                select.setAttribute("id", "reward");
                var option1 = document.createElement("option");
                option1.setAttribute("value", "coffee");
                option1.innerHTML = "Free coffee";
                var option2 = document.createElement("option");
                option2.setAttribute("value", "lunch");
                option2.innerHTML = "Free lunch";
                var option3 = document.createElement("option");
                option3.setAttribute("value", "dinner");
                option3.innerHTML = "Free dinner";
                select.appendChild(option1);
                select.appendChild(option2);
                select.appendChild(option3);
                btn.appendChild(select);
                // replace button with select
                btn.innerHTML = "";
                btn.appendChild(select);
                // add submit button
                var submit = document.createElement("button");
                submit.setAttribute("class", "btn btn-primary");
                // onclick submit xpath of button
                submit.setAttribute("onclick", "rewarded(" + (i + 1) + ")");
                submit.innerHTML = "Submit";
                btn.appendChild(submit);

            }
            function rewarded(xpath) {
                var reward = document.getElementById("reward").value;
                var btn = document.evaluate('//button[' + xpath + ']', document, null, XPathResult.FIRST_ORDERED_NODE_TYPE, null).singleNodeValue;
                btn.innerHTML = reward;
                btn.setAttribute("class", "btn btn-success");
                btn.setAttribute("disabled", "true");
            }
        </script>
</body>

</html>